{% extends 'battlefield_base.html' %}

{% block battlefield_content %}

    <nav class="nav nav-pills justify-content-center mb-4">
        <a class="nav-link {% if faction == 'Caldari' %}active{% endif %}" href="{% url 'battlefield_tracker:battlefields_tracker' faction='Caldari' %}">Caldari Battlefields</a>
        <a class="nav-link {% if faction == 'Gallente' %}active{% endif %}" href="{% url 'battlefield_tracker:battlefields_tracker' faction='Gallente' %}">Gallente Battlefields</a>
        <a class="nav-link disabled {% if faction == 'Minmatar' %}active{% endif %}" href="{% url 'battlefield_tracker:battlefields_tracker' faction='Minmatar' %}">Minmatar Battlefields</a>
        <a class="nav-link disabled {% if faction == 'Amarr' %}active{% endif %}" href="{% url 'battlefield_tracker:battlefields_tracker' faction='Amarr' %}">Amarr Battlefields</a>
    </nav>

   <div class="container mt-4">
    <!-- Important Note Section -->
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Important note about data on this page:</h5>
            <p class="card-text">
                All data is gathered by scraping <a href="https://www.eveonline.com/frontlines" target="_blank">eveonline.com/frontlines</a> and makes no guarantee about the accuracy.
            </p>
        </div>
    </div>

    <!-- Live Battlefields Section -->
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Live battlefields:</h5>
            <p class="card-text">This section should prompt the user to fleet up and play EVE Online.</p>
            {% if live_battlefields %}
                <ul>
                    {% for battlefield in live_battlefields %}
                        <li>
                            Spawn time: {{ battlefield.spawn_time }} <br>
                            {{ battlefield.owner }} will fight a defensive battlefield. <br>
                            {% if battlefield.fc %}
                                FC: {{ battlefield.fc }} has signed up to run a fleet for this objective.
                            {% else %}
                                No FC has signed up yet for this objective.
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No live battlefields at the moment.</p>
            {% endif %}
        </div>
    </div>

    <!-- Upcoming Battlefields Section -->
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Upcoming battlefields:</h5>
            <p class="card-text">This section should let users know when a battlefield is about to spawn.</p>
            {% if scheduled_battlefields %}
                <ul>
                    {% for battlefield in scheduled_battlefields %}
                        <li>
                            Spawn time: {{ battlefield.expected_time }} <br>
                            {{ battlefield.owner }} will fight a defensive battlefield <br>
                            {% if battlefield.fc %}
                                FC: {{ battlefield.fc }} has signed up to run a fleet for this objective.
                            {% else %}
                                No FC has signed up yet for this objective.
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No scheduled battlefields at the moment.</p>
            {% endif %}
        </div>
    </div>

    <!-- Battlefield Completion Log Section -->
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Battlefield completion log:</h5>
            <p class="card-text">Below is a list of the last three days' battlefield completions:</p>
            <ul>
                {% for battlefield in historic_battlefields %}
                    <li>
                        Report time: {{ battlefield.report_time }} <br>
                        {{ battlefield.winner }} won a battlefield in {{ battlefield.system }} <br>
                        {{ battlefield.owner }} will defend at {{ battlefield.spawn_time }}.
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
