<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">Battlefield completion log:</h5>
        <p class="card-text">Below is a list of the last three days' battlefield completions:</p>
        <div class="list-group list-group-flush">
            {% for battlefield in historic_battlefields %}
                <div class="list-group-item">
                    <div class="d-flex justify-content-between align-items-center">
                        <strong>{{ battlefield.system }}</strong>
                        <!-- Time Display -->
                        <small class="text-muted server-time" data-time="{{ battlefield.report_time }}" data-timezone="UTC+0">Eve time: {{ battlefield.spawn_time }}</small>
                    </div>
                    <div class="mt-2">
                        {{ battlefield.winner }} won a battlefield in {{ battlefield.system }}. <br>
                        {{ battlefield.defender }} will defend at 
                        <span class="server-time" data-time="{{ battlefield.spawn_time }}">
                          {{ battlefield.spawn_time }}
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>