<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">Important note about data on this page:</h5>
        <p class="card-text">
            All data is gathered by scraping <a href="https://www.eveonline.com/frontlines" target="_blank">eveonline.com/frontlines</a> and makes no guarantee about the accuracy.
            <br>
            Data is pulled every minute for frontlines, every 10 minutes for command operations, and at downtime for rearguard systems.
        </p>
    </div>
</div>