<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">Upcoming battlefields:</h5>
        <p class="card-text">This section should let users know when a battlefield is about to spawn.</p>
        {% if scheduled_battlefields %}
            <div class="list-group list-group-flush">
                {% for battlefield in scheduled_battlefields %}
                    <div class="list-group-item">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <span class="badge rounded-pill
                                    {% if battlefield.type == 'Downtime' %}
                                        bg-warning
                                    {% elif battlefield.type == 'Normal' %}
                                        bg-success
                                    {% elif battlefield.type == 'System Flipped' %}
                                        bg-danger
                                    {% else %}
                                        bg-secondary
                                    {% endif %}
                                    me-2">{{ battlefield.battlefield_type }}
                                </span>
                                <strong>{{ battlefield.defender }} defensive battlefield</strong>
                            </div>
                            <!-- Time Display -->
                            <small class="text-muted server-time" data-time="{{ battlefield.expected_time }}" data-timezone="UTC+0">Eve time: {{ battlefield.expected_time }}</small>
                        </div>
                        <div class="mt-2">
                            <span class="text-muted">Countdown: </span>
                            <span class="countdown" data-time="{{ battlefield.expected_time }}"></span>
                        </div>
                        <div class="mt-2">
                            {% if battlefield.fc %}
                                <span class="text-success">FC: {{ battlefield.fc }} has signed up to run a fleet for this objective.</span>
                            {% else %}
                                <span class="text-danger">No FC has signed up yet for this objective.</span>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No scheduled battlefields at the moment.</p>
        {% endif %}
    </div>
</div>